<div class="mt-5 row">
    <div class="col-md-7">
        <div>
            <div class="row justify-content-between align-items-center">
                <div class="col-auto">
                    <h2>Current word: <b> {{ this.word }} </b></h2>
                </div>
                <div class="col-auto">
                    <h4><span class="badge bg-secondary">{{ this.word.length }} / {{this.game?.maxWordLen}}</span></h4>
                </div>
            </div>
            <div>
                <h3>Round: <span class="badge bg-success">{{ this.game?.round }} / {{ this.game?.maxRounds }}</span></h3>
            </div>
            <div *ngIf="!canMove" class="row justify-content-start align-items-center ml-3">
                <div class="spinner-border text-danger" role="status"></div>
                <span class="text-danger ml-3"><b>Bot thinking...</b></span>
            </div>
            <div class="row">
                <div class="m-2 row justify-content-center">
                    <button *ngFor="let symbol of game?.alphabet.split('')" (click)="userMadeMove(symbol)"
                            [disabled]="!canMove"
                            class="col-1 btn btn-outline-primary m-1">{{symbol}}</button>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-5 justify-content-center">
        <div class="card">
            <div class="card-body">
                <h3 class="card-title">History</h3>
                <ol class="list-group list-group-numbered">
                    <li *ngFor="let historyItem of history" class="list-group-item">
                        <div class="row justify-content-between">
                            <div class="col">
                                <span><b>{{ historyItem.wordBefore }} </b></span>
                                <i-bs name="plus"></i-bs>
                                <span> {{ historyItem.lastMove }} </span>
                                <i-bs name="arrow-right"></i-bs>
                                <span><b> {{ historyItem.wordAfter}}</b></span>
                            </div>
                            <div class="col-auto">
                                <span class="badge" [class.bg-primary]="historyItem.playerName == 'Player'"
                                      [class.bg-danger]="historyItem.playerName == 'Bot'">{{ historyItem.playerName }}</span>
                            </div>
                        </div>
                    </li>
                </ol>
            </div>
        </div>
    </div>
</div>